ALTER TABLE public.raids 
ADD COLUMN IF NOT EXISTS charge_meter integer DEFAULT 0,
ADD COLUMN IF NOT EXISTS charge_deadline timestamp with time zone,
ADD COLUMN IF NOT EXISTS is_stunned boolean DEFAULT false,
ADD COLUMN IF NOT EXISTS stunned_until timestamp with time zone;
