
-- Tabela para registrar transações de pagamento (Webhooks)
CREATE TABLE IF NOT EXISTS public.payment_notifications (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  external_id text NOT NULL UNIQUE, -- ID da transação no gateway
  user_id uuid REFERENCES public.profiles(user_id) ON DELETE CASCADE,
  amount numeric NOT NULL,
  currency text DEFAULT 'BRL',
  status text NOT NULL, -- 'pending', 'paid', 'failed'
  created_at timestamp with time zone DEFAULT timezone('utc'::text, now()),
  processed_at timestamp with time zone
);

-- Função segura para processar o pagamento e dar diamantes
CREATE OR REPLACE FUNCTION public.process_pix_payment(
  p_external_id text,
  p_user_id uuid,
  p_amount numeric,
  p_status text
) 
RETURNS void 
LANGUAGE plpgsql 
SECURITY DEFINER 
SET search_path = public
AS \$\$
DECLARE
  v_diamond_amount int;
  v_exists boolean;
BEGIN
  -- Verificar se já processamos essa transação
  SELECT EXISTS(SELECT 1 FROM payment_notifications WHERE external_id = p_external_id AND status = 'paid') INTO v_exists;
  
  IF v_exists THEN
    RETURN; -- Já processado, ignorar idempotência
  END IF;

  -- Registrar ou atualizar a notificação
  INSERT INTO payment_notifications (external_id, user_id, amount, status, processed_at)
  VALUES (p_external_id, p_user_id, p_amount, p_status, now())
  ON CONFLICT (external_id) 
  DO UPDATE SET status = EXCLUDED.status, processed_at = now();

  -- Se o status for pago, adicionar diamantes
  IF p_status = 'paid' THEN
    -- Regra de negócio: 1 Real = 1 Diamante
    v_diamond_amount := floor(p_amount); 

    IF v_diamond_amount > 0 THEN
      UPDATE profiles 
      SET diamonds = diamonds + v_diamond_amount 
      WHERE user_id = p_user_id;

      -- Logar a transação de diamantes
      INSERT INTO diamond_transactions (user_id, amount, transaction_type, description, reference_id, balance_after)
      VALUES (
        p_user_id, 
        v_diamond_amount, 
        'purchase', 
        'Compra via PIX (' || p_amount || ' BRL)', 
        p_external_id,
        (SELECT diamonds FROM profiles WHERE user_id = p_user_id)
      );
    END IF;
  END IF;
END;
\$\$;

